{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>What Should I Do?</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>What Should I Do?</h1>

    <h2>Categories:</h2>
    <ul>
        <li><a href="{% url 'category_options' category='Restaurants' %}">Restaurants</a></li>
        <li><a href="{% url 'category_options' category='Games' %}">Games</a></li>
        <li><a href="{% url 'category_options' category='Movies' %}">Movies</a></li>
        <li><a href="{% url 'category_options' category='Activities' %}">Activities</a></li>
    </ul>
    
    <a href="{% url 'add_option' %}">Add a New Option</a>
    <h2>Coin Toss</h2>
    <a href="{% url 'coin_toss' %}">Toss the Coin!</a>

</body>
</html>
